.help-widget {
  width: 100px;
  background-color: #046599;
  height: 50px;
  border-radius: 0 30px 30px 0;
  position: absolute;
  bottom: 50px;
  z-index: 99999999999;
  transition: .1s;
}

.help-widget:hover {
  background-color: #046599;
  width: 440px;
  height: 50px;
  border-radius: 0 30px 30px 0;
  position: absolute;
  bottom: 50px;
  z-index: 99999999999;
  transition: .3s;
}
.help-centre li {
  list-style-type: none;
  float: right;
  width: 120px;
  font-size: 18px;
  padding: 10px 10px 0 0;
  text-align: right;
}
.help-centre #helpopen{
  list-style-type: none;
  float: right;
  width: 45px;
  height: 45px;
  font-size: 18px;
  padding: 3px 3px 0 0;
  text-align: right;
}
.help-centre a {
  color: white;
  text-decoration: none;
}
.help-options {
  display: none;
}
.help-widget:hover .help-options {
  display: block;
  transition: 1s;
}
.help-options li {
  list-style-type: none;
  float: right;
  font-size: 18px;
  color: white;
  padding: 0 20px;
  text-align: right;
  cursor: pointer;

}
.help-options a {
  color: white;
  text-decoration: none;
}

#helpopen .fa {
  font-size: 3rem;
    color: white;
    padding: 6px 3px;
}
